.wrapper-mobile-menu
  position: absolute
  top: 0
  z-index: 101
  width: 100%
//height: 100%
//background-color: rgba(0, 0, 0, 0.1)


.mobile-menu
  background-color: #4B4977
  //padding: 0.625rem 0
  display: none
  nav
    width: 100%
    li:not(:last-child)
      //border-bottom: 1px solid rgba(255, 255, 255, 0.5)

//.mobile-menu li:last-child
//  &:after
//    display: none

.mobile-menu
  &__li
    //padding: 0.625rem 0
    overflow: hidden
    position: relative
    display: flex
    flex-direction: column
    justify-content: space-between
    &--active
      background-color: #5D5A91
  &__li:first-child
    .accordion-link:before
      display: none

.mobile-menu-link
  display: block
  //padding: 10px 15px
  color: white
  font: 1rem/1.2rem 'Bebas Neue', sans-serif
  letter-spacing: 0.075rem
  &:active, &:focus, &:hover
    color: white
.mobile-menu__li:last-child
  .accordion-link[aria-expanded="false"]:after
    opacity: 1
    bottom: 1px
  .link-body:after
    background-image: url("../img/mobile_divider.png")
    width: 100%
    height: 0.5px
    //background-position: center
    background-size: cover
    position: absolute
    left: 0
    background-repeat: no-repeat
    content: ''
    bottom: 1px

.accordion-link
  padding: .75rem .9375rem
  position: relative
  &:before,
  &:after
    background-image: url("../img/mobile_divider.png")
    width: 100%
    height: 0.5px
    //background-position: center
    background-size: cover
    position: absolute
    left: 0
    background-repeat: no-repeat
    content: ''
  &:before
    top: 0px
  &:after
    opacity: 0
    bottom: 0

.link-body
  position: relative
  &__a
    display: block
    text-transform: uppercase
    padding: 14px 30px
    color: white
    font: 1rem/1rem 'Bebas Neue', sans-serif

.accordion-link[aria-expanded="false"]
  &:after
    transition: 0.4s ease
    opacity: 0

.accordion-link[aria-expanded="true"]
  &:after
    opacity: 1
  .header-item__icon
    transform: rotate(180deg)

