<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, height=device-height,minimum-scale=1.0, initial-scale=1.0"/>
  <link href="libs/hamburgers.css" rel="stylesheet">
  <link rel="stylesheet" href="fonts/stylesheet.css" />


  <link rel="stylesheet" type="text/css" href="libs/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="libs/slick/slick-theme.css"/>
  <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="libs/bootstrap/css/bootstrap-grid.css">
<!--  <link rel="stylesheet" href="libs/bootstrap/css/bootstrap-reboot.css">-->
  <link rel="stylesheet" href="libs/jquery-ui/jquery-ui.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="libs/fancy/jquery.fancybox.min.css" />
  <link rel="stylesheet" href="libs/sidebar/style3.css" />
  <link rel="stylesheet" href="css/style.bundle.css"/>
  <script src="libs/jquery.js"></script>
  <script src="libs/slick/slick.min.js"></script>
  <script src="libs/bootstrap/js/bootstrap.js"></script>
  <script src="libs/jquery-ui/jquery-ui.js"></script>
  <script src="libs/jquery-ui/jquery-ui-touch.js"></script>
  <script src="libs/fancy/jquery.fancybox.min.js"></script>
  <title><%=title%></title>
</head>
<body>

