<section id="awards-list-area">
  <div class="container-main">
    <div class="accordion" id="accordionQuestion">
      <div class="question awards-list d-flex flex-column">
        <div class="button question-header d-flex align-items-center justify-content-between collapsed">
          <p>Награды за боевые задачи:</p>
        </div>
        <div class="collapse show">
          <div class="question-body">
            <ul>
              <li>
                <p>• Опыт экипажа: х2, 10 раз в сутки</p>
              </li>
              <li>
                <p> • Большие аптечки: 10 шт.</p>
              </li>
              <li>
                <p> • Большие ремкомплекты: 10 шт.</p>
              </li>
              <li>
                <p> • Автоматические огнетушители: 10 шт.</p>
              </li>
              <li>
                <p>
                  • Личные резервы: свободный опыт 5шт. +300% на 1 час
                </p>
              </li>
              <li>
                <p>
                  • Личные резервы: опыт экипажа 5 шт. +300% на 1 час
                </p>
              </li>
              <li>
                <p>
                  • Личне резервы: опыт 5 шт. +300% на 1 час
                </p>
              </li>
              <li>
                <p>
                  • Задачи на х5 опыта: 10 шт.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
