.button
  border: none
  padding: 0
  border-radius: 0.625rem
  display: flex
  justify-content: center
  align-items: center
  line-height: normal
  transition: all 0.3s ease-out
  &:hover,&:active,&focus
    color: #fff
    text-decoration-line: none
.button:focus
  outline: none
  box-shadow: none

.btn-shadow,.btn-shadow:hover,.btn-shadow:active,.btn-shadow:focus
  -webkit-box-shadow: 0px 0.5625rem 0px 0px rgba(184, 27, 61, 0.9)
  -moz-box-shadow:    0px 0.5625rem 0px 0px rgba(184, 27, 61, 0.9)
  box-shadow:         0px 0.5625rem 0px 0px rgba(184, 27, 61, 0.9)

.btn-red
  position: relative
  border: 0.125rem solid transparent
  background-color: #f92653
  padding: 0.125rem 0.625rem
  color: #fff
  text-transform: uppercase
  font: bold 2.6875rem/130% 'Bebas Neue', sans-serif
  &:hover,&:active,&focus
    background-color: #f92653
    color: #fff
  &:hover
    -webkit-box-shadow: 0px 0px 1.0625rem 0px rgba(249, 38, 83, 1)
    -moz-box-shadow:    0px 0px 1.0625rem 0px rgba(249, 38, 83, 1)
    box-shadow:         0px 0px 1.0625rem 0px rgba(249, 38, 83, 1)


.btn-border
  background-color: transparent
  color: #fff
  border: 0.125rem solid #fff
  padding: 0.125rem 0.625rem
  text-transform: uppercase
  font: bold 1.5rem/100% 'Helvetica', sans-serif
  &:hover,&:active,&focus
    background-color: #fff
    color: #34185f

.btn-border._i
  .menu-icon
    width: 1.875rem
    height: 1.875rem
    path
      fill: #fff
  &:hover
    svg
      path
        fill: #271c47

.button
  .card-eye
    flex: 0 0 2rem
    margin: 0 0.625rem 0 0
    height: auto
    path
      fill: #fff
  &:hover
    .card-eye
      path
        fill: #34185f


