.awards-play-block
  p
    order: 1
  &__button-area
    order: 2
    margin-left: auto
    margin-right: 0.438rem
    display: flex
    justify-content: center
  &__button
    font-size: 20px
    line-height: 23px
    font-family: 'Roboto Condensed', sans-serif
    height: 37px
    max-width: 155px
    //max-width: 300px
    width: 100%
    padding-left: 12px
    padding-right: 12px
    white-space: nowrap
    @media all and (max-width: 991.9px)
      max-width: 180px
  .question-btn
    order: 3
  @media all and (max-width: 991.9px)
    justify-content: space-between
    flex-wrap: wrap
    p
      width: 75%
      word-break: break-all
    .awards-play-block__button-area
      order: 3
      margin-top: 20px
      width: 100%
      margin-right: 0
      margin-left: 0
    .question-btn
      order: 2
