body, html
  background-color: #1b1d2c
  height: 100%
  font-size: 11.65px
  position: relative
html
  height: 100%
body
  min-height: 100%
body, a
  color: #272727
a
  color: #FFFFFF
a:active, a:focus, a:hover
  color: #FFFFFF
  text-decoration-line: none
.wrapper
  display: flex
  flex-direction: column
  position: relative

  min-height: 100%
.wrapper-page
  overflow: hidden
.container-main
  margin: 0 auto
  padding-right: 0.9375rem
  padding-left: 0.9375rem
  max-width: 97.875rem
  width: 100%

img
  max-width: 100%

.title-page
  text-align: center
  margin-bottom: 1.25rem
  h2
    color: #fff
    //letter-spacing: 1px
    font: 400 3.125rem/100% 'Roboto Condensed', sans-serif

.page-top
  margin-top: 3.75rem
.section-margin
  margin-bottom: 2.5rem

.hover-img
  overflow: hidden
  img
    transition: all 0.3s ease-out
    transform: scale(1)
  &:hover
    img
      transition: all 0.3s ease-out
      transform: scale(1.1)

#back-top.active
  opacity: 1
  pointer-events: auto
#back-top
  cursor: pointer
  position: fixed
  bottom: 105px
  left: 5%
  display: block
  height: 40px
  width: 40px
  opacity: 0
  -webkit-transition: 0.5s
  -o-transition: 0.5s
  transition: 0.5s
  pointer-events: none
  z-index: 9999
  border-radius: 50%
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5)
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5)
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5)

.hamburger-box
  width: 24px
  height: 16px

.hamburger
  padding: 0

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after,
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after
  background-color: #fff
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after
  width: 24px
  height: 2px
//
//.header-item a:hover
//  text-decoration-line: underline

.row:before, .row:after
  display: flex !important

.question-header
  min-height: 4.8125rem
p
  a
    color: #FFFFFF
    text-decoration-line: underline

#banner-area
  z-index: 1
  position: relative

.awards-play-block
  justify-content: flex-start

.hamburger
  position: relative
  top: -3px

.hamburger-inner::before
  top: -5px

.hamburger--collapse .hamburger-inner::after
  top: -10px

.hamburger-box
  top: 3px
.hamburger--collapse.is-active
  top: 1px
  transition: 0.2s ease
  position: relative