@media (max-width: 1500px)
  .header .header-item
    padding-right: 17px
    padding-left: 0.75rem
  .popup-mob-area
    display: flex
    width: 50%
  .popup-pc-area
    display: none
  .header-item-sub-menu
    &__link
      padding: 0.75rem!important
//@media (max-width: 1280px)

@media (max-width: 1200px)
  .header .header-item
    padding-right: 17px
    padding-left: 0.75rem
    //padding-right: 0.9375rem
    //padding-left: 0.9375rem
  .header-item
    a
      font-size: 1.75rem
  .manual-img
    flex-basis: 23.125rem
  .popup-mob-area
    display: flex
    width: 70%
@media (max-width: 991.9px)
  html
    font-size: 16px
  .slider-banner-title
    margin-top: 10rem
    font-size: 2.75rem
  #twitch-prime-area
    .container-main
      padding: 0
    p
      padding: 0
  .main-info-block
    margin-bottom: 0.625rem
    display: flex
    align-items: center
    p
      padding-top: 0
      font-size: 1.5rem
  .card-title
    font-size: 1.5rem
  .question-body, .manual
    flex-direction: column
  .question-body-img, .manual-img
    width: 100%
    height: 12.5rem
    display: flex
    justify-content: center
    margin: 0.625rem 0 0
    img
      width: auto
  .manual-list
    padding-left: 0.9375rem
    padding-right: 0.9375rem
  .manual-img, .manual._revers .manual-img
    margin-left: 0
    margin-right: 0
  .manual
    padding: 0.9375rem 0 0.9375rem 0
  .manual p,
  .awards-list-tank h3
    font-size: 1.5rem
    line-height: 1.75rem
  .manual
    flex-direction: column
    &._revers
      flex-direction: column
  .manual-img
    margin: 1.25rem 0 0 0
    img
      height: auto
  footer
    .container-main
      padding: 0
    .header-mobile
      margin: 0 -0.625rem
  .popup-mob-area
    display: flex
    width: 100%
    .popup
      padding-top: 0.9375rem
      padding-left: 0
      padding-right: 0
    .button
      margin-left: 0.1875rem
      margin-right: 0.1875rem
      font-size: 0.75rem
      min-height: 2.1875rem
      font-weight: 400
      margin-bottom: 0.625rem
      padding-left: 0.3125rem
      padding-right: 0.3125rem
    p
      padding-left: 0.3125rem
      padding-right: 0.3125rem
      font-size: 1rem
  #main-info-area,
  #twitch-prime-area
    background-color: transparent
    h1
      font: 400 2.0625rem/100% 'Roboto Condensed',sans-serif
  .accordion-spoiler
    h1
      text-align: left
      margin-bottom: 0!important
    .question
      margin-bottom: 0
    .question-btn
      display: flex!important
    .question-header
      background-color: #5c5a90!important
      padding: .6875rem .9375rem .9375rem!important
      pointer-events: auto
      &:before
        display: block
    .question-body
      padding: 1.25rem .9375rem
    .collapse:not(.show)
      display: none
    .question-header .question-btn
      transform: rotate(0deg)
    .question-header.collapsed .question-btn
      transform: rotate(180deg)
  #main-info-area.section-margin
    margin-bottom: 0
  .question-header
    padding: 0.6875rem 0.9375rem 0.9375rem 0.9375rem !important
  .question-body
    padding-right: 0.9375rem
    padding-left: 0.9375rem
    p
      font-size: 1.375rem
  .question-body .main-info-block p
    font-size: 1.375rem
//@media (max-width: 768px)


@media (max-width: 576px)
  .title-page, #manual-area
    h2
      font-size: 2.5rem
      line-height: 2.75rem
  .archive-item-body
    flex-direction: column
  .archive-item-img
    margin-right: 0
    margin-bottom: 1.125rem
    justify-content: center
    img
      width: auto
  .archive-img
    bottom: 1.5625rem
    top: auto
    right: 1.25rem
  .archive-item-title
    margin-bottom: 0.9375rem
  .archive-item-info p,
  .archive-item-title h3
    font-size: 1.5rem
  #awards-tanks-area
    .container
      padding-right: 0
      padding-left: 0
  .award-card-title
    h6
      font-size: 1.3rem
    p
      font-size: 1rem
  .award-card-text p
    font-size: 0.9rem
  .popup-area
    padding: 0 0.3125rem
  .popup-mob-area
    .button
      font-size: 0.75rem
  .card
    .button
      font-size: 1.2rem!important
  .slider-banner-img,
  .slick-active .slider-banner-img
    transform: scale(1.1, 1.1)
