.modal,.modal-open
  padding-left: 0!important
  padding-right: 0!important
.modal-open
  overflow: auto
.modal-backdrop.show
  opacity: 0.6
.timer-area
  cursor: pointer
  user-select: none
  position: fixed
  top: calc(80px + 6.5px)
  left: 20px
  z-index: 95
  //height: 50px
  max-width: 220px
  width: 100%
.timer
  user-select: none
  cursor: auto
  margin: 0
  border: 0.0625rem solid #c065dc
  background: linear-gradient(90deg, #323150, #323150)
  width: 100%
  border-radius: 6px
  align-items: center
  padding: 4px 0 5px 2px
  display: flex
  &:after
    border-radius: 6px
  .button
    background-color: #F92653
    border-radius: 6px
    flex: 0 0 40px
    height: 40px
    padding: 0
    width: 40px
    position: relative
    right: -1px
  &__col
    padding: 0 3px
    flex: 1 1 auto
  &__info
    display: flex
    flex-direction: column
    align-items: center
  &__number
    white-space: nowrap
    position: relative
    text-align: center
    color: #FFFFFF
    font-family: 'Roboto Condensed', sans-serif
    font-style: normal
    font-weight: 400
    font-size: 24px
    line-height: 25px
    text-transform: uppercase
  //margin-bottom: 5px
  &__text
    white-space: nowrap
    text-transform: uppercase
    text-align: center
    color: #FFFFFF
    font-family: 'Roboto Condensed', sans-serif
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 14px
  &--hour:after,
  &--min:after
    position: absolute
    content: ':'
    right: -6px
    top: -1px
    font-family: 'Roboto', sans-serif
    font-style: normal
    font-weight: 400
    font-size: 24px
    line-height: 25px
    color: #fff
    border-radius: 50%

.tank-modal
  margin: 0 auto
  max-width: 640px
  &__close
    position: absolute
    width: 45px
    height: 45px
    padding: 10px
    right: 0
    top: 0
    z-index: 10
    background-color: transparent
    border-radius: 0
  .modal-content
    background: #4D4775
  &__image-block
    height: 320px
    position: relative
  &__image
    position: absolute
    left: 0
    top: 0
    object-fit: cover
    width: 100%
    height: 100%
  &__body
    padding: 11px 48px 17px 48px
  &__body-text
    margin-bottom: 12px
    text-align: center
    color: #FFFFFF
    font-family: 'Roboto Condensed', sans-serif
    font-style: normal
    font-weight: 400
    font-size: 24px
    line-height: 25px
  &__info
    font-family: 'Roboto Condensed', sans-serif
    font-style: normal
    font-weight: 400
    font-size: 20px
    line-height: 23px
    text-align: center
    color: #FFFFFF
    margin-bottom: 11px
    padding: 0 50px
  .timer__button
    width: 100%
    max-width: 100%
    background: #F92653
    border-radius: 6px
    font-family: 'Roboto Condensed', sans-serif
    font-style: normal
    font-weight: 400
    font-size: 24px
    line-height: 28px
    color: #FFFFFF
    text-transform: uppercase
    padding: 18px 20px
    letter-spacing: 0.2px
    white-space: nowrap

.timer-modal
  padding: 8px 66px 12px 66px
  max-width: 100%
  margin-bottom: 10px
  background: #1B1C2B
  cursor: default!important
  &:after
    display: none
  &:hover
    box-shadow: inherit
  .timer__number
    font-size: 64px
    line-height: 73px
  .timer__text
    font-size: 26px
    line-height: 30px
  .timer--hour:after,
  .timer--min:after
    font-size: 64px
    line-height: 75px
    right: -10px

@media all and (max-width: 992px)
  .timer-area
    top: 60px
    left: 50%
    transform: translateX(-50%)
@media all and (max-width: 700px)
  .tank-modal
    max-width: 320px
    &__close
      padding: 8px
      width: 34px
      height: 34px
    &__image-block
      height: 250px
    &__body
      padding: 7px 10px 13px 10px
    &__body-text
      font-size: 20px
      line-height: 22px
    &__info
      padding: 0
      font-size: 16px
      line-height: 19px
    .timer__button
      font-size: 20px
      line-height: 23px
      padding: 16px 2px
      span
        display: none
  .timer-modal
    margin-bottom: 8px
    padding: 1px 19px 4px 19px
    .timer__number
      top: 2px
      font-size: 48px
      line-height: 56px
    .timer__text
      font-size: 18px
      line-height: 21px
    .timer--hour:after,
    .timer--min:after
      font-size: 48px
      line-height: 56px
