<footer class="d-flex align-items-center">
  <div class="container-main d-flex
  align-items-center h-100">
    <a href="/">
      <img src="./img/logo.png" alt="World Of Tanks">
    </a>
    <a href="/" class="link-twitch">
      <img src="./img/twitch.png" alt="Twitch">
    </a>
    <div class="header d-lg-block d-md-none d-sm-none d-none flex-nowrap">
      <nav>
        <ul class="d-flex justify-content-end">
          <li class="header-item">
            <a href="/">
              Инструкция
            </a>
          </li>
          <li class="header-item">
            <a href="/">
              Купить наборы
            </a>
          </li>
          <li class="header-item">
            <a href="/">
              Faq
            </a>
          </li>
          <li class="header-item">
            <a href="/">
              Контакты и Обратная связь
            </a>
          </li>
          <li class="header-item">
            <a href="/">
              О нас
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
