footer
  margin-top: auto
  min-height: 6.25rem
  background-color: #4b4977
  .container-main
    padding: 0 3.125rem
  a
    margin-left: 0.625rem
    margin-right: 0.625rem
  .header
    margin-left: auto
.link-twitch
  margin-top: 0.4375rem
