<div class="timer-area" data-toggle="modal" data-target="#modal">
  <div class="timer">
    <div class="timer__col">
      <div class="time__info">
        <div class="timer__number timer--day">
          5
        </div>
        <div class="timer__text">
          ДНЕЙ
        </div>
      </div>
    </div>
    <div class="timer__col">
      <div class="time__info">
        <div class="timer__number timer--hour">
          5
        </div>
        <div class="timer__text">
          ЧАСОВ
        </div>
      </div>
    </div>
    <div class="timer__col">
      <div class="time__info">
        <div class="timer__number timer--min">
          5
        </div>
        <div class="timer__text">
          МИНУТ
        </div>
      </div>
    </div>
    <div class="timer__col">
      <div class="time__info">
        <div class="timer__number timer--sec">
         5
        </div>
        <div class="timer__text">
          СЕКУНД
        </div>
      </div>
    </div>
    <div class="timer__col">
      <button class="button timer__button" >
        <img src="img/arrow-small.svg" alt=>
      </button>
    </div>
  </div>
</div>

<!--<button type="button" class="btn btn-primary" >-->
<!--  Launch demo modal-->
<!--</button>-->

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered tank-modal">
    <div class="modal-content">
      <button class="button tank-modal__close"  data-dismiss="modal" aria-label="Close">
        <img src="img/close.png" alt="Закрыть">
      </button>
      <div class="tank-modal__image-block">
        <img src="img/modal-img.jpg" class="tank-modal__image" img alt="">
      </div>
      <div class="tank-modal__body">
        <div class="tank-modal__body-text">СЛЕДУЮЩАЯ РАЗДАЧА ЧЕРЕЗ:</div>
        <div class="timer timer-modal">
          <div class="timer__col">
            <div class="time__info">
              <div class="timer__number timer--day">
                5
              </div>
              <div class="timer__text">
                ДНЕЙ
              </div>
            </div>
          </div>
          <div class="timer__col">
            <div class="time__info">
              <div class="timer__number timer--hour">
                5
              </div>
              <div class="timer__text">
                ЧАСОВ
              </div>
            </div>
          </div>
          <div class="timer__col">
            <div class="time__info">
              <div class="timer__number timer--min">
               5
              </div>
              <div class="timer__text">
                МИНУТ
              </div>
            </div>
          </div>
          <div class="timer__col">
            <div class="time__info">
              <div class="timer__number timer--sec">
               5
              </div>
              <div class="timer__text">
                СЕКУНД
              </div>
            </div>
          </div>
        </div>
        <div class="tank-modal__info">
          раздачи проходят среди тех, кто совершил у нас покупку в течение последних 7 дней
        </div>
        <a href="" class="button btn-red timer__button">
          УЗНАТЬ ДЕТАЛИ И <span>&nbsp;ПРЕДЫДУЩИХ&nbsp;</span> ПОБЕДИТЕЛЕЙ
        </a>
      </div>
    </div>
  </div>
</div>

