<section id="archive-area" class="section-margin">
  <div class="container-main">
    <div class="title-page">
      <h2>
        Архив пакетов Amazon Prime Gaming
      </h2>
    </div>
    <div class="container-main">
      <div class="row">
        <div class="col-lg-6 col-md-12 p-0">
          <div class="archive-item">
            <img src="./img/archive.png" alt="Архив" class="archive-img">
            <div class="archive-item-body d-flex">
              <div class="archive-item-img">
                <img src="https://picsum.photos/200" alt="">
              </div>
              <div class="archive-item-info">
                <div class="archive-item-title">
                  <h3>
                    24 НАБОР «НЕ ДЬЮК»
                  </h3>
                  <h3>
                    ФЕВРАЛЬ
                  </h3>
                </div>

                <p>
                  ЗАКОНЧИЛСЯ 23.03
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 p-0">
          <div class="archive-item">
            <img src="./img/archive.png" alt="Архив" class="archive-img">
            <div class="archive-item-body d-flex">
              <div class="archive-item-img">
                <img src="https://picsum.photos/200" alt="">
              </div>
              <div class="archive-item-info">
                <div class="archive-item-title">
                  <h3>
                    24 НАБОР «НЕ ДЬЮК»
                  </h3>
                  <h3>
                    ФЕВРАЛЬ
                  </h3>
                </div>

                <p>
                  ЗАКОНЧИЛСЯ 23.03
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 p-0">
          <div class="archive-item">
            <img src="./img/archive.png" alt="Архив" class="archive-img">
            <div class="archive-item-body d-flex">
              <div class="archive-item-img">
                <img src="https://picsum.photos/200" alt="">
              </div>
              <div class="archive-item-info">
                <div class="archive-item-title">
                  <h3>
                    24 НАБОР «НЕ ДЬЮК»
                  </h3>
                  <h3>
                    ФЕВРАЛЬ
                  </h3>
                </div>

                <p>
                  ЗАКОНЧИЛСЯ 23.03
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 p-0">
          <div class="archive-item">
            <img src="./img/archive.png" alt="Архив" class="archive-img">
            <div class="archive-item-body d-flex">
              <div class="archive-item-img">
                <img src="https://picsum.photos/200" alt="">
              </div>
              <div class="archive-item-info">
                <div class="archive-item-title">
                  <h3>
                    24 НАБОР «НЕ ДЬЮК»
                  </h3>
                  <h3>
                    ФЕВРАЛЬ
                  </h3>
                </div>

                <p>
                  ЗАКОНЧИЛСЯ 23.03
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
