.archive-item
  margin: 0.09375rem
  padding: 1.875rem 1.25rem
  background: #4b4977
  position: relative
  height: calc(100% - 0.1875rem)
  &:after
    position: absolute
    content: ''
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: linear-gradient(180deg, rgba(138, 0, 255, 1) 0%, rgba(34, 29, 61, 1) 100%)
    transition: opacity 0.3s ease-out
    z-index: 0
    opacity: 0
  &:hover:after
    opacity: 1
  &:hover
    cursor: pointer
    .archive-item-img
      img
        transform: scale(1.1)

.archive-img
  position: absolute
  top: 1.5625rem
  right: 3.75rem
  width: 12.6875rem
  z-index: 1
.archive-item-body
  position: relative
  z-index: 1
  height: inherit
.archive-item-info
  height: inherit
  flex-direction: column
  display: flex
.archive-item-img
  display: flex
  flex: 0 0 8.75rem
  height: 8.75rem
  position: relative
  margin-right: 1.125rem
  overflow: hidden
  img
    transition: all 0.3s ease-out
    transform: scale(1)
    object-fit: cover
    top: 0
    left: 0
    width: 100%
    height: 100%

.archive-item-info
  p
    color: rgba(255, 255, 255, 0.5)
    margin-top: auto
    font: 400 2.083125rem/100% 'Roboto Condensed', sans-serif

.archive-item-title
  margin-bottom: 1.75rem
  h3
    color: #fff
    letter-spacing: 0.0625rem
    font: 700 2.083125rem/117% 'Roboto Condensed', sans-serif
