#twitch-prime-area
  background-color: #4b4977
  padding: 0.625rem 0.9375rem 1.25rem 0.9375rem
  h1
    color: #fff
    letter-spacing: 0.0625rem
    margin-bottom: 1.5rem
    font: 400 2.625rem/100% 'Roboto Condensed', sans-serif
  p
    color: #fff
    font: 100 1.8125rem/121% 'Museo Cyrl 100', sans-serif
