<section id="twitch-prime-area" class="section-margin">
  <div class="container-main">
    <div class="accordion accordion-spoiler" id="accordionMain">
      <div class="question d-flex flex-column">
        <div type="button"
             class="button question-header d-flex align-items-center justify-content-between collapsed"
             data-toggle="collapse" data-target="#main-info"
             aria-expanded="false" aria-controls="main-info">
          <h1 class="w-100">
            Twitch Prime – что это такое?
          </h1>
          <div class="question-btn d-flex justify-content-center align-items-center">
            <img src="img/arrow.png" alt="">
          </div>
        </div>
        <div id="main-info" class="collapse"
             aria-labelledby="main-info"
             data-parent="#accordionMain">
          <div class="question-body flex-column">
            <p class="main-info-p text-lg-center text-left">
              Любому пользователю игры World of Tanks доступна возможность получить бонусы пакетов по подписке
              Твич Прайм на свой игровой аккаунт. Возможно это благодаря сотрудничеству компании Wargaming
              и видеохостинга <a href="">Twitch.tv</a> (кликабельно), сейчас эта акция немного преобразилась и носит название
              Прямой Эфир, а вторым партнёром теперь является Амазон.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
