@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica Bold'), local('Helvetica-Bold'),
        url('./Helvetica-Bold.woff2') format('woff2'),
        url('./Helvetica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Cyrl 100';
    src: local('Museo Cyrl 100'), local('MuseoCyrl-100'),
        url('./MuseoCyrl-100.woff2') format('woff2'),
        url('./MuseoCyrl-100.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'),
        url('./RobotoCondensed-Regular.woff2') format('woff2'),
        url('./RobotoCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto'),
    url('./Roboto.woff2') format('woff2'),
    url('./Roboto.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Regular Regular'), local('BebasNeueRegular'),
        url('./BebasNeueRegular.woff2') format('woff2'),
        url('./BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

