.question
  margin-bottom: 1.6875rem

.question-header
  background-color: #5c5a90
  padding: 0.6875rem 2.3125rem 0.9375rem 2.1875rem!important
  border-radius: 0!important
  position: relative
  cursor: pointer
  &:hover
    cursor: pointer
  p
    color: #fff
    font: 400 2.0625rem/100% 'Roboto Condensed', sans-serif!important
  &:before
    content: ''
    position: absolute
    height: 100%
    width: 0.625rem
    left: 0
    top: 0
    background-color: #f92653
  &.collapsed
    .question-btn
      transition: all 0.3s ease-out
      transform: rotate(-180deg)

.question-btn
  flex: 0 0  3.1875rem
  height: 3.1875rem
  background-color: #f92653
  border-radius: 5px
  transition: all 0.3s ease-out
  transform: rotate(0deg)
  margin-left: 0.625rem
  img
    width: 1.6875rem


.question-body
  padding: 1.25rem 2.3125rem
  background-color: #4b4977
  display: flex
  justify-content: space-between
  p
    color: #fff
    font: 1.8125rem/122% 'Museo Cyrl 100', sans-serif
.question-body-img
  display: inline-block
  flex: 0 0 28.125rem
  width: 28.125rem
  position: relative
  height: 18.75rem
  margin-left: 1.25rem
  margin-top: 0.625rem
  img
    top: 0
    left: 0
    width: 100%
    height: 100%
    object-fit: cover

