<section id="questions-area" class="section-margin"
>
  <div class="container-main">
    <div class="title-page">
      <h2>
        Ответы на популярные вопросы
      </h2>
    </div>

    <div class="accordion" id="accordionQuestion">
      <div class="question d-flex flex-column">
        <div type="button"
             class="button question-header d-flex align-items-center justify-content-between collapsed"
             data-toggle="collapse" data-target="#q-1"
             aria-expanded="false" aria-controls="q-1">
          <p>Вопрос №1</p>
          <div class="question-btn d-flex justify-content-center align-items-center">
            <img src="img/arrow.png" alt="">
          </div>
        </div>
        <div id="q-1" class="collapse"
             aria-labelledby="q-1"
             data-parent="#accordionQuestion">
          <div class="question-body">
            <p class="d-block">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
              massa.massa
              Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec felis,
              ultricies
              nec,
              pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede, fringilla vel, aliquet
              nec,massa
              vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, Nullam dictum felis eu pede
              mollis
            </p>
          </div>
        </div>
      </div>
      <div class="question d-flex flex-column">
        <div type="button"
             class="button question-header d-flex align-items-center justify-content-between collapsed"
             data-toggle="collapse" data-target="#q-2"
             aria-expanded="false" aria-controls="q-2">
          <p>Вопрос №2</p>
          <div class="question-btn d-flex justify-content-center align-items-center">
            <img src="img/arrow.png" alt="">
          </div>
        </div>
        <div id="q-2" class="collapse"
             aria-labelledby="q-2"
             data-parent="#accordionQuestion">
          <div class="question-body">
            <p class="d-block">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
              massa.massa
              Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec felis,
              ultricies
              nec,
              pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede, fringilla vel, aliquet
              nec,massa
              vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, Nullam dictum felis eu pede
              mollis
            </p>
          </div>
        </div>
      </div>
      <div class="question d-flex flex-column">
        <div type="button"
             class="button question-header d-flex align-items-center justify-content-between collapsed"
             data-toggle="collapse" data-target="#q-3"
             aria-expanded="false" aria-controls="q-3">
          <p>Вопрос №3</p>
          <a class="question-btn d-flex justify-content-center align-items-center ">
            <img src="img/arrow.png" alt="">
          </a>
        </div>
        <div id="q-3" class="collapse "
             aria-labelledby="q-3"
             data-parent="#accordionQuestion">
          <div class="question-body">
            <p class="d-block">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
              massa.massa
              Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec felis,
              ultricies
              nec,
              pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede, fringilla vel, aliquet
              nec,massa
              vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, Nullam dictum felis eu pede
              mollis
            </p>
            <a class="question-body-img hover-img" href="https://i.picsum.photos/id/1000/5626/3635.jpg?hmac=qWh065Fr_M8Oa3sNsdDL8ngWXv2Jb-EE49ZIn6c0P-g" data-fancybox="gallery">
              <img src="https://i.picsum.photos/id/1000/5626/3635.jpg?hmac=qWh065Fr_M8Oa3sNsdDL8ngWXv2Jb-EE49ZIn6c0P-g" alt="">
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
