.header-area
  background-color: #4b4977
  position: sticky
  top: 0
  z-index: 100
  -webkit-box-shadow: 0px 3px 6px 0px rgba(59, 57, 101, 0.94)
  -moz-box-shadow: 0px 3px 6px 0px rgba(59, 57, 101, 0.94)
  box-shadow: 0px 3px 6px 0px rgba(59, 57, 101, 0.94)
.header
  width: 100%
  height: 100%
  .header-item:last-child
    &:after
      display: none
  .header-item
    position: relative
    padding: 2rem 0
    padding-right: 17px
    padding-left: 0.75rem
    flex: 1 1 auto
    //text-align: center
    &:after
      top: calc(50% - 2.1875rem)
      right: 0
      content: ''
      width: 0.125rem
      height: 4.375rem
      position: absolute
      background-image: url("../img/header-line.png")

.header-item
  display: flex
  justify-content: space-between
  align-items: center
  transition: 0.3s ease all
  cursor: pointer
  &:hover
    background-color: #5D5A91
    .header-item-sub-menu-area
      max-height: 999px
      opacity: 1
      pointer-events: auto
      .header-item-sub-menu
        opacity: 1
        transition: opacity 0.5s
      //height: 100%
    .header-item__icon
      transform: rotate(180deg)
  a
    font: 2.0625rem/2.0625rem "Bebas Neue", sans-serif
    white-space: nowrap
    color: #FFFFFF
    text-transform: uppercase
  &__icon
    transition: 0.4s ease all
    flex: 0 0 14px
    height: 14px

.header-mobile
  display: none
  padding:  0.75rem 0.9375rem
  a
    //margin-left: 0.625rem
    margin-right: 0.625rem

.header-item-sub-menu-area
  overflow: hidden
  pointer-events: none
  position: absolute
  bottom: 0
  left: 0
  transform: translate(0, 100%)
  //opacity: 0
  transition: max-height 0.8s
  max-height: 0

.header-item-sub-menu
  background-color: #4B4977
  opacity: 0
  &__link
    overflow: hidden
    cursor: pointer
    font: 24px/26px "Bebas Neue", sans-serif
    position: relative
    padding: 0.75rem
    &:hover
      background-color: #5D5A91
    &:after
      content: ""
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: 1px
      opacity: 0.5
      background-color: #fff
    &:last-child:after
      display: none
      //content: ''

