<header class="header-area">

  <div class="wrapper-mobile-menu d-lg-none d-md-block">
    <div class="mobile-menu  flex-column align-items-center" >
      <nav>
        <ul class="accordion" id="accordionLinks">
          <li class="mobile-menu__li">
            <div
              type="button"
              class="accordion-link d-flex align-items-center justify-content-between collapsed"
              data-toggle="collapse" data-target="#l-1"
              aria-expanded="false" aria-controls="l-1">
                <span class="mobile-menu-link">
                  Купить
                </span>
              <img class="header-item__icon" src="./img/arr_mini.png" alt="Menu">
            </div>
            <div id="l-1" class="collapse"
                 aria-labelledby="l-1"
                 data-parent="#accordionLinks">
              <div class="link-body">
                <a href="/" class="link-body__a">
                  ссылка номер 1
                </a>
                <a href="/" class="link-body__a">
                  ссылка номер 1
                </a>
                <a href="/" class="link-body__a">
                  ссылка номер 1
                </a>
              </div>
            </div>
          </li>

          <li class="mobile-menu__li">
            <div
              type="button"
              class="accordion-link d-flex align-items-center justify-content-between collapsed"
              data-toggle="collapse" data-target="#l-2"
              aria-expanded="false" aria-controls="l-2">
                <span class="mobile-menu-link">
                  Купить
                </span>
              <img class="header-item__icon" src="./img/arr_mini.png" alt="Menu">
            </div>
            <div id="l-2" class="collapse"
                 aria-labelledby="l-2"
                 data-parent="#accordionLinks">
              <div class="link-body">
                <a href="/" class="link-body__a">
                  ссылка номер 1
                </a>
                <a href="/" class="link-body__a">
                  ссылка номер 1
                </a>
                <a href="/" class="link-body__a">
                  ссылка номер 1
                </a>
              </div>
            </div>
          </li>

          <li class="mobile-menu__li ">
            <div
              type="button"
              class="accordion-link d-flex align-items-center justify-content-between collapsed"
              data-toggle="collapse" data-target="#l-3"
              aria-expanded="false" aria-controls="l-3">
                <span class="mobile-menu-link">
                  Купить
                </span>
              <img class="header-item__icon" src="./img/arr_mini.png" alt="Menu">
            </div>
            <div id="l-3" class="collapse"
                 aria-labelledby="l-3"
                 data-parent="#accordionLinks">
              <div class="link-body">
                <a href="/" class="link-body__a">
                  ссылка номер 1
                </a>
                <a href="/" class="link-body__a">
                  ссылка номер 1
                </a>
                <a href="/" class="link-body__a">
                  ссылка номер 1
                </a>
              </div>
            </div>
          </li>

        </ul>
      </nav>
    </div>
  </div>
  <div class="overlay"></div>

  <div class="container-main p-0">
    <div
      class="header-mobile justify-content-between d-lg-none d-md-flex d-sm-flex d-flex align-items-center h-100 flex-nowrap">
      <a href="/">
        <img src="./img/logo 3.png" class="mw-100" alt="World Of Tanks">
      </a>
      <div class="hamburger hamburger--collapse ">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>

    </div>
    <div class="header d-lg-block d-md-none d-sm-none d-none">
      <nav>
        <ul class="d-flex justify-content-center">

          <li class="header-item">
            <a href="/">
              Главная
            </a>
            <img class="header-item__icon" src="./img/arr_mini.png" alt="Menu">
            <div class="header-item-sub-menu-area">
              <ul class="header-item-sub-menu">
                <li class="header-item-sub-menu__link">
                  <a href="/">
                    ссылка номер 1
                  </a>
                </li>
                <li class="header-item-sub-menu__link">
                  <a href="/">
                    какая-то длинная ссылка
                  </a>
                </li>
                <li class="header-item-sub-menu__link">
                  <a href="/">
                    невероятно длинная ссылка
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="header-item">
            <a href="/">
              Купить
            </a>
            <img class="header-item__icon" src="./img/arr_mini.png" alt="Menu">
            <div class="header-item-sub-menu-area">
              <ul class="header-item-sub-menu">
                <li class="header-item-sub-menu__link">
                  <a href="/">
                    ссылка номер 1
                  </a>
                </li>
                <li class="header-item-sub-menu__link">
                  <a href="/">
                    ссылка номер 1
                  </a>
                </li>
                <li class="header-item-sub-menu__link">
                  <a href="/">
                    ссылка номер 1
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="header-item">
            <a href="/">
              Набор «Кобра»
            </a>
            <img class="header-item__icon" src="./img/arr_mini.png" alt="Menu">
            <div class="header-item-sub-menu-area">
              <ul class="header-item-sub-menu">
                <li class="header-item-sub-menu__link">
                  <a href="/">
                    ссылка номер 1
                  </a>
                </li>
                <li class="header-item-sub-menu__link">
                  <a href="/">
                    ссылка номер 1
                  </a>
                </li>
                <li class="header-item-sub-menu__link">
                  <a href="/">
                    ссылка номер 1
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="header-item">
            <a href="/">
              Набор «дьюк»
            </a>
            <img class="header-item__icon" src="./img/arr_mini.png" alt="Menu">
            <div class="header-item-sub-menu-area">
              <ul class="header-item-sub-menu">
                <li class="header-item-sub-menu__link">
                  <a href="/">
                    ссылка номер 1
                  </a>
                </li>
                <li class="header-item-sub-menu__link">
                  <a href="/">
                    ссылка номер 1
                  </a>
                </li>
                <li class="header-item-sub-menu__link">
                  <a href="/">
                    ссылка номер 1
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="header-item">
            <a href="/">
              Набор «клюет!»
            </a>
            <img class="header-item__icon" src="./img/arr_mini.png" alt="Menu">
            <div class="header-item-sub-menu-area">
              <ul class="header-item-sub-menu">
                <li class="header-item-sub-menu__link">
                  <a href="/">
                    ссылка номер 1
                  </a>
                </li>
                <li class="header-item-sub-menu__link">
                  <a href="/">
                    ссылка номер 1
                  </a>
                </li>
                <li class="header-item-sub-menu__link">
                  <a href="/">
                    ссылка номер 1
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="header-item">
            <a href="/">
              Инструкция
            </a>
            <img class="header-item__icon" src="./img/arr_mini.png" alt="Menu">
            <div class="header-item-sub-menu-area">
              <ul class="header-item-sub-menu">
                <li class="header-item-sub-menu__link">
                  <a href="/">
                    ссылка номер 1
                  </a>
                </li>
                <li class="header-item-sub-menu__link">
                  <a href="/">
                    ссылка номер 1
                  </a>
                </li>
                <li class="header-item-sub-menu__link">
                  <a href="/">
                    ссылка номер 1
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="header-item">
            <a href="/">
              Faq
            </a>
            <img class="header-item__icon" src="./img/arr_mini.png" alt="Menu">
            <div class="header-item-sub-menu-area">
              <ul class="header-item-sub-menu">
                <li class="header-item-sub-menu__link">
                  <a href="/">
                    ссылка номер 1
                  </a>
                </li>
                <li class="header-item-sub-menu__link">
                  <a href="/">
                    ссылка номер 1
                  </a>
                </li>
                <li class="header-item-sub-menu__link">
                  <a href="/">
                    ссылка номер 1
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <!--          <li class="header-item">-->
          <!--            <a href="/">-->
          <!--              Контакты и Обратная связь-->
          <!--            </a>-->
          <!--          </li>-->
        </ul>
      </nav>
    </div>
  </div>
</header>

<script type="text/javascript">
  $(document).ready(function() {

    $("#dismiss, .overlay").on("click", function() {
      $("#sidebar").removeClass("active");
      $(".overlay").removeClass("active");
    });

    $("#sidebarCollapse").on("click", function() {
      $("#sidebar").addClass("active");
      $(".overlay").addClass("active");
      $(".collapse.in").toggleClass("in");
      $("a[aria-expanded=true]").attr("aria-expanded", "false");
    });

  });
</script>
