#awards-tanks-area,#awards-list-area
  .accordion
    margin-bottom: 2.5rem

.awards-list
  li
    margin: 0.4375rem 0

.award-card
  margin: 0 0 1.25rem  0
  //margin: 0 3.125rem 1.25rem  3.125rem
  //width: 18.4375rem
  height: 100%
  &:hover
    text-decoration-line: none
    .award-card-img
      img
        transform: scale(1.15)
.awards-list-tank
  background-color: black
  border-radius: 0 0 1.25rem 1.25rem
  h3
    margin-bottom: 1.25rem
    color: #FFFFFF
    font: bold 2.604375rem/100% 'Museo Cyrl 100', sans-serif
  .question-body
    padding-bottom: 0

#awards-list-area,.awards-list
  .question-body
    border-radius: 0 0 1.25rem 1.25rem
.award-card-title
  margin-bottom: 0.625rem
  h6, p
    color: #FFFFFF
    font: 400 1.823125rem/100% 'Roboto Condensed', sans-serif

.award-card-text
  p
    font: 1.5625rem/118% 'Museo Cyrl 100', sans-serif

.award-card-img
  //padding: 0.9375rem
  margin-bottom: 0.8rem
  img
    transition: all 0.3s ease-out
    width: 100%
    height: 100%
    object-fit: cover
    object-position: center

.awards-tanks-sub-title
  margin-top: 10px
  color: #fff
  font: 700 2rem/100% Museo Cyrl\ 100,sans-serif

