<section id="awards-tanks-area" class="page-top">
  <div class="container-main">
    <div class="title-page">
      <h2>
        Полное содержимое 24 набора «Клюёт»
      </h2>
      <h3 class="awards-tanks-sub-title">
        какойто текст
      </h3>
    </div>
    <div class="accordion">
      <div class="question awards-list awards-list-tank d-flex flex-column">
        <div
          data-toggle="collapse" data-target="#tank-1"
          aria-expanded="false" aria-controls="tank-1"
          class="button question-header d-flex align-items-center collapsed awards-play-block">
          <p>Награды на выбор:</p>
          <div class="awards-play-block__button-area">
            <a href="/" target="_blank" class="button btn-red awards-play-block__button">
              Купить набор
            </a>
          </div>
          <div class="question-btn d-flex justify-content-center align-items-center">
            <img src="img/arrow.png" alt="">
          </div>
        </div>
        <div class="collapse" id="tank-1" aria-labelledby="tank-1">
          <div class="question-body flex-column">
            <h3 class="text-center">
              На складе вы можете выбрать 2 награды из 6
            </h3>
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-4 col-6">
                  <div class="award-card d-flex flex-column align-items-center">
                    <div class="award-card-img">
                      <img src="img/tank.png" alt="Танк">
                    </div>
                    <div class="award-card-title">
                      <h6 class="text-center">Название танка</h6>
                      <p class="text-center">(тип, уровень, страна)</p>
                    </div>
                    <div class="award-card-text ">
                      <p class="text-center">
                        в аренду на 10 дней
                        временный слот в ангаре
                        100% экипаж навсегда
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-6">
                  <div class="award-card d-flex flex-column align-items-center">
                    <div class="award-card-img">
                      <img src="img/tank.png" alt="Танк">
                    </div>
                    <div class="award-card-title">
                      <h6 class="text-center">Название танка</h6>
                      <p class="text-center">(тип, уровень, страна)</p>
                    </div>
                    <div class="award-card-text ">
                      <p class="text-center">
                        в аренду на 10 дней
                        временный слот в ангаре
                        100% экипаж навсегда
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-6">
                  <div class="award-card d-flex flex-column align-items-center">
                    <div class="award-card-img">
                      <img src="img/tank.png" alt="Танк">
                    </div>
                    <div class="award-card-title">
                      <h6 class="text-center">Название танка</h6>
                      <p class="text-center">(тип, уровень, страна)</p>
                    </div>
                    <div class="award-card-text ">
                      <p class="text-center">
                        в аренду на 10 дней
                        временный слот в ангаре
                        100% экипаж навсегда
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-6">
                  <div class="award-card d-flex flex-column align-items-center">
                    <div class="award-card-img">
                      <img src="img/tank.png" alt="Танк">
                    </div>
                    <div class="award-card-title">
                      <h6 class="text-center">Название танка</h6>
                      <p class="text-center">(тип, уровень, страна)</p>
                    </div>
                    <div class="award-card-text ">
                      <p class="text-center">
                        в аренду на 10 дней
                        временный слот в ангаре
                        100% экипаж навсегда
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-6">
                  <div class="award-card d-flex flex-column align-items-center">
                    <div class="award-card-img">
                      <img src="img/tank.png" alt="Танк">
                    </div>
                    <div class="award-card-title">
                      <h6 class="text-center">Название танка</h6>
                      <p class="text-center">(тип, уровень, страна)</p>
                    </div>
                    <div class="award-card-text ">
                      <p class="text-center">
                        в аренду на 10 дней
                        временный слот в ангаре
                        100% экипаж навсегда
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--<div class="award-list-card d-flex justify-content-center flex-wrap">-->
            <!---->
            <!--</div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-main">
    <div class="accordion">
      <div class="question awards-list awards-list-tank d-flex flex-column">
        <div
          data-toggle="collapse" data-target="#tank-2"
          aria-expanded="false" aria-controls="tank-2"
          class="button question-header d-flex align-items-center  collapsed awards-play-block">
          <p>Гарантированные награды:</p>
          <div class="awards-play-block__button-area">
            <a href="/" target="_blank" class="button btn-red awards-play-block__button">
              Купить набор
            </a>
          </div>
          <div class="question-btn d-flex justify-content-center align-items-center">
            <img src="img/arrow.png" alt="">
          </div>
        </div>
        <div class="collapse " id="tank-2" aria-labelledby="tank-2">
          <div class="question-body flex-column">
            <h3 class="text-center">
              Их вы получите сразу после активации пакета
            </h3>
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-4 col-6">
                  <div class="award-card d-flex flex-column align-items-center">
                    <div class="award-card-img">
                      <img src="img/tank.png" alt="Танк">
                    </div>
                    <div class="award-card-title">
                      <h6 class="text-center">Название танка</h6>
                      <p class="text-center">(тип, уровень, страна)</p>
                    </div>
                    <div class="award-card-text ">
                      <p class="text-center">
                        в аренду на 10 дней
                        временный слот в ангаре
                        100% экипаж навсегда
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-6">
                  <div class="award-card d-flex flex-column align-items-center">
                    <div class="award-card-img">
                      <img src="img/tank.png" alt="Танк">
                    </div>
                    <div class="award-card-title">
                      <h6 class="text-center">Название танка</h6>
                      <p class="text-center">(тип, уровень, страна)</p>
                    </div>
                    <div class="award-card-text ">
                      <p class="text-center">
                        в аренду на 10 дней
                        временный слот в ангаре
                        100% экипаж навсегда
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-6">
                  <div class="award-card d-flex flex-column align-items-center">
                    <div class="award-card-img">
                      <img src="img/tank.png" alt="Танк">
                    </div>
                    <div class="award-card-title">
                      <h6 class="text-center">Название танка</h6>
                      <p class="text-center">(тип, уровень, страна)</p>
                    </div>
                    <div class="award-card-text ">
                      <p class="text-center">
                        в аренду на 10 дней
                        временный слот в ангаре
                        100% экипаж навсегда
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
