.popup-mob-area
  display: none
.popup-area
  position: fixed
  z-index: 100
  bottom: 0
  left: 50%
  transform: translate(-50%, -10%)
  padding: 0 0.9375rem
  a
    min-height: 3.125rem
  a + a
    margin-top: 0.9375rem
//.card
//  margin: 0
//  .card-img
//    height: 17.1875rem

.popup
  padding: 1.5625rem 0.625rem 0.9375rem 0.625rem
  background: #5c5a90
  -webkit-box-shadow: 0px 0px 0.25rem 0px rgba(255, 255, 255, 1)
  -moz-box-shadow: 0px 0px 0.25rem 0px rgba(255, 255, 255, 1)
  box-shadow: 0px 0px 0.25rem 0px rgba(255, 255, 255, 1)
  border-radius: 0.625rem
  width: 100%
  .button
    white-space: nowrap
    min-height: 4.375rem
    font: bold 1.823125rem/100% 'Helvetica', sans-serif
    flex: 1 1 33%
    margin: 0 1.125rem 1.25rem 1.125rem
  p
    color: #fff
    font: bold 2.083125rem/100% 'Helvetica', sans-serif
.popup-area
  ._other
    background-color: #fff
    color: #34185f
    &:hover
      background-color: transparent
      color: #fff
.popup-pc-area
  left: auto
  right: 0
  bottom: auto
  top: 80px
  transform: translate(0, 0)
  //transform: translate(73%, -10%)
  transition: all 0.3s ease-out
  //&:hover
    //transform: translate(0, -10%)
  .card-buttons .btn
    min-height: 2.625rem

