<div class="popup-area popup-mob-area justify-content-center">
  <div class="popup ">
    <div class="d-flex justify-content-between">
      <a href="/" class="button btn-red">
        Купить
      </a>
      <a href="/" class="button btn-border">
        Другие пакеты
      </a>
      <a href="" class="button btn-border">
        Инструкция
      </a>
    </div>
    <p class="text-center">
      26 НАБОР «КОБРА» – АПРЕЛЬ
    </p>
  </div>
</div>
<div class="popup-area popup-pc-area">
  <div class="card">
    <h3 class="card-title text-center">
      26 НАБОР «КОБРА»
      АПРЕЛЬ
    </h3>
    <div class="card-img">
      <img src="img/pic.png" alt="">
    </div>
    <div class="card-buttons d-flex justify-content-between flex-column">
      <a href="/" class="button btn-red">
        Купить
      </a>
      <a href="/" class="button btn-border">
        Другие пакеты
      </a>
      <a href="" class="button btn-border">
        Инструкция
      </a>
    </div>
  </div>
  <!--<div class="card">-->
    <!--<h3 class="card-title text-center">-->
      <!--26 НАБОР «КОБРА»-->
      <!--АПРЕЛЬ-->
    <!--</h3>-->
    <!--<div class="card-img hover-img">-->
      <!--<img src="img/pic.png" alt="">-->
    <!--</div>-->
    <!--<div class="d-flex justify-content-between flex-column">-->
      <!--<a href="/" class="btn btn-red">-->
        <!--Купить-->
      <!--</a>-->
      <!--<a href="/" class="btn btn-border">-->
        <!--Другие пакеты-->
      <!--</a>-->
      <!--<a href="" class="btn btn-border">-->
        <!--Инструкция-->
      <!--</a>-->
    <!--</div>-->
  <!--</div>-->
</div>
