<section id="banner-area">
  <div class="slider-banner no-slider-mobile position-relative d-lg-none d-md-none d-sm-none d-block">
    <div class="slide-banner-mobile">
      <div class="container position-relative">
        <div class="mobile-h1">

        </div>
        <div class="d-flex justify-content-center">
          <a href="/" class="button btn-red btn-shadow btn-banner">
            Получить сейчас
          </a>
        </div>
      </div>
      <img src="img/slide.png" class="slider-banner-img" alt="">
    </div>
  </div>

  <div class="slider-banner-area position-relative d-lg-block d-md-block d-sm-block d-none">
    <div class="slider-banner position-relative ">
      <div class="slide-banner" >
        <img src="img/slide.png" class="slider-banner-img" alt="">
      </div>
      <div class="slide-banner">
        <img src="img/slide-1.jpg" class="slider-banner-img" alt="">
      </div>
    </div>
    <div class="container position-absolute">
      <div class="pc-h1">
        <h1 class="slider-banner-title  text-center">
          Наборы Twitch Prime World of Tanks
        </h1>
      </div>

      <div class="d-flex justify-content-center">
        <a href="/" class="button btn-red btn-shadow btn-banner">
          Получить сейчас
        </a>
      </div>
    </div>
  </div>


</section>
