#sliders-area
  h1
    color: #fff
    font: 3.125rem/100% 'Roboto Condensed', sans-serif
    margin-bottom: 0.625rem
.slider-banner
  //min-height: 23.125rem
  height: 100%
  position: relative
  overflow: hidden
.slide-banner, .slide-banner-mobile
  width: 100%
  //min-height: 23.125rem
  height: 100%
  position: relative
  //padding-bottom: 2.5rem
  .container
    z-index: 1

#banner-area
  .btn-red
    letter-spacing: 0.09rem
    transition: none !important
    white-space: nowrap
    top: 0
    &:hover
      background-color: #e0254d
      box-shadow: 0rem 0.5625rem 0rem 0rem rgba(184, 27, 61, 1)
      &:after
        opacity: 1
    &:active
      top: 0.5625rem
      box-shadow: none
    &:after
      transition: all 0.3s ease-out
      opacity: 0
      content: ''
      position: absolute
      width: 100%
      height: 100%
      box-shadow: 0px 0px 3.0625rem 0px rgba(249, 38, 83, 1)
      left: 0
      top: 0

.slider-banner-img
  transition: all 300ms ease-in-out
  transform: scale(1.25, 1.25)
  z-index: 0
  width: 100%
  //position: absolute
  left: 0
  top: 0
  height: 370px
  object-fit: cover
  object-position: top
.slick-active
  .slider-banner-img
    transform: scale(1, 1)

.slider-banner-title
  margin-top: 20rem
  text-shadow: -0.25rem -0.1875rem 0.375rem rgba(0, 0, 0, 1)
  z-index: 1
  color: #fff
  font: 3.625rem/100% 'Roboto Condensed', sans-serif
  margin-bottom: 1.4375rem

.btn-banner
  padding-left: 2.5rem
  padding-right: 2.5rem
  max-width: 20.625rem
  width: 100%

.no-slider-mobile
  min-height: 23.125rem
  height: auto
  .slider-banner-img
    position: absolute
    height: 100%
  .slide-banner-mobile
    padding-bottom: 2.5rem

.slider-banner-area
  .container
    max-width: 100%
    z-index: 100
    top: 0
    left: 0
    min-height: 23.125rem
