<% var data = {
title: "WOT"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<ul class="list-group">
  <li class="list-group-item">
    <a href="index-1.html" style="color: red">Главная</a>
  </li>
  <li class="list-group-item">
    <a href="index-2.html"style="color: red" >Инструкция</a>
  </li>
  <li class="list-group-item">
    <a href="index-3.html"style="color: red" >Деталка</a>
  </li>
  <!--<li class="list-group-item">-->
    <!--<a href="index-2.html">Боковое меню</a>-->
  <!--</li>-->
  <!--<li class="list-group-item">-->
    <!--<a href="index-3.html">Заголовки</a>-->
  <!--</li>-->
  <!--<li class="list-group-item">-->
    <!--<a href="index-4.html">Калькулятор</a>-->
  <!--</li>-->
  <!--<li class="list-group-item">-->
    <!--<a href="index-5.html">Категории</a>-->
  <!--</li>-->
  <!--<li class="list-group-item">-->
    <!--<a href="index-6.html">Контакты</a>-->
  <!--</li>-->
  <!--<li class="list-group-item">-->
    <!--<a href="index-7.html">По параматерам после калькулятора</a>-->
  <!--</li>-->
  <!--<li class="list-group-item">-->
    <!--<a href="index-8.html">Детальная карточка модели</a>-->
  <!--</li>-->
  <!--<li class="list-group-item">-->
    <!--<a href="index-9.html">Список моделей</a>-->
  <!--</li>-->
  <!--<li class="list-group-item">-->
    <!--<a href="index-10.html">Список моделей выбор</a>-->
  <!--</li>-->
  <!--<li class="list-group-item">-->
    <!--<a href="index-11.html">Модалки</a>-->
  <!--</li>-->
</ul>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

