<% var data = {
title: "WOT"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<div class="wrapper">

  <%= _.template(require('./../includes/header/header.html').default)(data) %>
  <div class="wrapper-page">
    <%= _.template(require('./../includes/slider-banner/slider-banner.html').default)(data) %>

    <%= _.template(require('./../includes/main-info-area/main-info-area.html').default)(data) %>

    <section class="cards-area section-margin">
      <div class="container-main">
        <div class="title-page">
          <h2>
            Наборы Твич Прайм 3в1 и 2в1
          </h2>
        </div>
        <div class="list-card">
          <div class="d-flex justify-content-center flex-wrap">
            <%= _.template(require('./../includes/card/card.html').default)(data) %>
            <%= _.template(require('./../includes/card/card.html').default)(data) %>
            <%= _.template(require('./../includes/card/card.html').default)(data) %>
            <%= _.template(require('./../includes/card/card.html').default)(data) %>
          </div>
        </div>

      </div>
    </section>
    <section class="cards-area section-margin">
      <div class="container-main">
        <div class="title-page">
          <h2>
            Действующие пакеты Твич Прайм WoT
          </h2>
        </div>
        <div class="list-card">
          <div class="d-flex justify-content-center flex-wrap">
            <%= _.template(require('./../includes/card/card.html').default)(data) %>
            <%= _.template(require('./../includes/card/card.html').default)(data) %>
            <%= _.template(require('./../includes/card/card.html').default)(data) %>
          </div>
        </div>
      </div>
    </section>

    <%= _.template(require('./../includes/twitch-prime/twitch-prime.html').default)(data) %>

    <%= _.template(require('./../includes/archive-area/archive-area.html').default)(data) %>

    <%= _.template(require('./../includes/questions/questions.html').default)(data) %>
  </div>
  <div id="back-top" class="d-lg-block d-none">
    <img src="img/up.png" alt="">
  </div>
  <%= _.template(require('./../includes/footer/footer.html').default)(data) %>
</div>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

