<% var data = {
title: "WOT"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<div class="wrapper">

  <%= _.template(require('./../includes/header/header.html').default)(data) %>
  <div class="wrapper-page">
    <%= _.template(require('./../includes/manual-area/manual-area.html').default)(data) %>

  </div>
  <div id="back-top">
    <img src="img/up.png" alt="">
  </div>
  <%= _.template(require('./../includes/footer/footer.html').default)(data) %>
</div>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

