<% var data = {
title: "WOT"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<div class="wrapper">

  <%= _.template(require('./../includes/header/header.html').default)(data) %>
  <div class="wrapper-page">


    <%= _.template(require('./../includes/awards-tanks-area/awards-tanks-area.html').default)(data) %>



    <%= _.template(require('./../includes/awards-list-area/awards-list-area.html').default)(data) %>

    <section class="cards-area section-margin">
      <div class="container-main">
        <div class="title-page">
          <h2>
            Все возможные наборы с пакетом Кобра (3в1 и 2в1)
          </h2>
        </div>
        <div class="list-card">
          <div class="d-flex justify-content-center flex-wrap">
            <%= _.template(require('./../includes/card/card.html').default)(data) %>
            <%= _.template(require('./../includes/card/card.html').default)(data) %>
            <%= _.template(require('./../includes/card/card.html').default)(data) %>
            <%= _.template(require('./../includes/card/card.html').default)(data) %>
          </div>
        </div>

      </div>
    </section>

  </div>
  <div id="back-top">
    <img src="img/up.png" alt="">
  </div>
  <%= _.template(require('./../includes/footer/footer.html').default)(data) %>

</div>
<%= _.template(require('./../includes/popup/popup.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

<%= _.template(require('./../includes/timer/timer.html').default)(data) %>
