<section id="main-info-area" class="section-margin" >
  <div class="container-main" >
    <div class="accordion accordion-spoiler" id="accordionTwitch">
      <div class="question d-flex flex-column">
        <div 
             class="button question-header d-flex align-items-center justify-content-between collapsed"
             data-toggle="collapse" data-target="#twitch-info"
             aria-expanded="false" aria-controls="twitch-info">
          <h1 class="w-100">
            Почему выгоднее купить пакет?
          </h1>
          <div class="question-btn d-flex justify-content-center align-items-center">
            <img src="img/arrow.png" alt="">
          </div>
        </div>
        <div id="twitch-info" class="collapse"
             aria-labelledby="twitch-info"
             data-parent="#accordionTwitch">
          <div class="question-body flex-column">
            <p class="main-info-p text-lg-center text-left">
              Приобретая набор вы значительно экономите деньги, ведь если перевести всё
              полученное игровое имущество в реальную валюту, то выгода акции заметна сразу.
            </p>
            <div class="main-info-blocks d-flex flex-xl-nowrap flex-lg-nowrap flex-wrap ">
              <div class="col-xl-4 col-lg-4 col-md-12 p-0">
                <div class="main-info-block d-flex ">
                  <div class="info-block-img">
                    <img src="img/info-1.png" alt="">
                  </div>
                  <p>
                    Получаете уже готовую
                    активированную подписку
                  </p>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-12 p-0">
                <div class="main-info-block d-flex ">
                  <div class="info-block-img">
                    <img src="img/info-2.png" alt="">
                  </div>
                  <p>
                    Игровой лут в течение
                    5 минут уже на аккаунте
                  </p>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-12  p-0">
                <div class="main-info-block d-flex ">
                  <div class="info-block-img">
                    <img src="img/info-3.png" alt="">
                  </div>
                  <p>
                    Игровой лут в течение
                    5 минут уже на аккаунте
                  </p>
                </div>
              </div>
            </div>
            <p class="main-info-p text-lg-center text-left main-info-p-last">
              Вам достаточно посетить страницу оплаты и вписать при покупке актуальную почту
              (не обязательно игровую), на которую будет отправлена инструкция и данные для активации пакета.
              Ссылки на товары ниже, особо интересен текущий пакет на апрель – Кобра (G.I. Joe: Cobra).
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
