#main-info-area
  background-color: #4b4977
  padding: 1.25rem 0 1.875rem 0
  h1
    color: #fff
    letter-spacing: 0.0625rem
    margin-bottom: 1.1875rem
    font: 2.625rem/120% 'Roboto Condensed', sans-serif

.main-info-p
  color: #fff
  letter-spacing: 0.05rem
  font: 1.823125rem/112% 'Museo Cyrl 100', sans-serif
  &.padding-l-r
    padding: 0 10rem
  a,a:hover,a:active
    color: #fff
    text-decoration-line: underline
  a:hover
    text-decoration-line: underline

.main-info-blocks
  margin: 1.75rem 0 1.1875rem 0
.question-body .main-info-block p
  font: 400 2.083125rem/100% 'Roboto Condensed', sans-serif
.main-info-block
  .info-block-img
    margin-right: 0.625rem
    flex: 0 0 5.3125rem
    height: 5.3125rem
    display: flex
    justify-content: center
    align-items: center
    img
      width: 100%
  p
    color: #b89fff
    padding-top: 0.125rem
    font: 400 2.083125rem/100% 'Roboto Condensed', sans-serif

section
  h1
    color: #fff
    font: 400 3.125rem/100% 'Roboto Condensed', sans-serif

.accordion-spoiler
  .question-body
    padding: 0
  h1
    text-align: center
  //margin-bottom: 0!important
  .question
    margin-bottom: 0
  .question-btn
    display: none !important
  .question-header
    background-color: #4b4977!important
    padding: 0 !important
    pointer-events: none
    &:before
      display: none
  .main-info-block p
    color: #b89fff !important
  .collapse:not(.show)
    display: block

