.card,.timer
  margin: 0.5625rem 0.5625rem 1.875rem 0.5625rem
  flex: 1 1 auto
  max-width: 22.6875rem
  background: linear-gradient(90deg, rgba(50,49,80,1) 0%, rgba(50,49,80,1) 100%)
  padding: 0.625rem 1.25rem 1.25rem 1.25rem
  border: 0.0625rem solid #c065dc
  border-radius: 0.625rem
  position: relative
  .button
    border-radius: 0.5rem
    height: 3.75rem
  .button._receive
    max-width: 15.25rem
    width: 100%
  .button._contents
    padding: 0.9375rem 0.625rem
    margin-bottom: 1.4375rem
    white-space: nowrap
  &:after
    border-radius: 0.625rem
    position: absolute
    content: ''
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: linear-gradient(130deg, rgba(138,0,255,1) 0%, rgba(34,29,61,1) 100%)
    transition: opacity 0.3s ease-out
    z-index: 0
    opacity: 0
  &:hover:after
    opacity: 1
  &:hover
    cursor: pointer
    -webkit-box-shadow: 0px 0px 1.0625rem 0px rgba(138, 0, 255, 1)
    -moz-box-shadow:    0px 0px 1.0625rem 0px rgba(138, 0, 255, 1)
    box-shadow:         0px 0px 1.0625rem 0px rgba(138, 0, 255, 1)
    .card-img
      img
        transform: scale(1.1)
  div, a, .card-title
    position: relative
    z-index: 1

.card-img
  overflow: hidden
  margin-bottom: 1.5rem
  border-radius: 0.625rem
  img
    transition: all 0.3s ease-out
    width: 100%
    height: 100%
    object-fit: cover
    object-position: center


.card-title
  color: #fff
  margin-bottom: 0.7rem
  letter-spacing: 0.0625rem
  font: 400 2.0625rem/114% 'Roboto Condensed', sans-serif

.card-buttons
  ._i
    flex: 0 0 3.75rem
    margin-right: 1.25rem
  .button
    padding: 0.9375rem 0.625rem
    font: bold 1.5625rem 'Helvetica', sans-serif
  .btn-red:hover
    -webkit-box-shadow: 0px 0px 1.0625rem 0px rgba(249, 38, 83, 1)
    -moz-box-shadow:    0px 0px 1.0625rem 0px rgba(249, 38, 83, 1)
    box-shadow:         0px 0px 1.0625rem 0px rgba(249, 38, 83, 1)

.card-eye



