<div class="card">
  <h3 class="card-title text-center">
    26 НАБОР «КОБРА»
    АПРЕЛЬ
  </h3>
  <div class="card-img">
    <img src="img/pic.png" alt="">
  </div>
  <a href="/" target="_blank" class="button btn-border _contents">
    <img width="2rem" class="card-eye menu-icon" src="img/eye.svg" alt="">
    Состав пакета
  </a>
  <div class="card-buttons d-flex">
    <a href="/" class="button btn-border _i">
      <img src="img/info.svg" class="menu-icon" alt="">
    </a>
    <a href="" class="button btn-red _receive">
      Получить
    </a>
  </div>
</div>
