#manual-area
  h1
    font-size: 3.90625rem
    line-height: 3.9375rem

.manual-list
  background-color: #4b4977
  border-radius: 0.625rem
  padding: 0px 3rem 2.3125rem 3rem
  .manual:last-child
    border-bottom: 0

.manual
  padding: 3.125rem 0
  border-bottom: 0.1875rem solid #231d3e
  align-items: center
  p
    color: #fff
    font: 2.5rem/3rem 'Museo Cyrl 100', sans-serif

.manual._revers
  flex-direction: row-reverse
  .manual-img
    margin-left: 0
    margin-right: 4.375rem
.manual-img
  flex: 0 0  31.25rem
  height: 20.9375rem
  margin-left: 4.375rem
  margin-right: 0
  img
    width: 100%
    height: 100%
    object-fit: cover



