<section id="manual-area" class="section-margin page-top">
  <div class="container-main">
    <div class="title-page">
      <h2>
        Инструкция по получению пакетов Twitch Prime
      </h2>
    </div>
    <div class="manual-list ">
      <div class="manual d-flex justify-content-between">
        <p>
          1. Выбираете нужный Вам пакет
          на странице «Купить», переходите
          на страницу оплаты. При оплате
          обязательно указывайте Вашу
          настоящую электронную почту.
        </p>
        <a class="manual-img hover-img"
           href="https://i.picsum.photos/id/1000/5626/3635.jpg?hmac=qWh065Fr_M8Oa3sNsdDL8ngWXv2Jb-EE49ZIn6c0P-g"
           data-fancybox="gallery">
          <img src="https://i.picsum.photos/id/1000/5626/3635.jpg?hmac=qWh065Fr_M8Oa3sNsdDL8ngWXv2Jb-EE49ZIn6c0P-g"
               alt="">
        </a>
      </div>
      <div class="manual d-flex justify-content-between _revers">
        <p>
          2. Выбираете нужный Вам пакет
          на странице «Купить», переходите
          на страницу оплаты. При оплате
          обязательно указывайте Вашу
          настоящую электронную почту.
        </p>
        <a class="manual-img hover-img"
           href="https://i.picsum.photos/id/1000/5626/3635.jpg?hmac=qWh065Fr_M8Oa3sNsdDL8ngWXv2Jb-EE49ZIn6c0P-g"
           data-fancybox="gallery">
          <img src="https://i.picsum.photos/id/1000/5626/3635.jpg?hmac=qWh065Fr_M8Oa3sNsdDL8ngWXv2Jb-EE49ZIn6c0P-g"
               alt="">
        </a>
      </div>
      <div class="manual d-flex justify-content-between">
        <p>
          3. Выбираете нужный Вам пакет
          на странице «Купить», переходите
          на страницу оплаты. При оплате
          обязательно указывайте Вашу
          настоящую электронную почту.
        </p>
        <a class="manual-img hover-img"
           href="https://i.picsum.photos/id/1000/5626/3635.jpg?hmac=qWh065Fr_M8Oa3sNsdDL8ngWXv2Jb-EE49ZIn6c0P-g"
           data-fancybox="gallery">
          <img src="https://i.picsum.photos/id/1000/5626/3635.jpg?hmac=qWh065Fr_M8Oa3sNsdDL8ngWXv2Jb-EE49ZIn6c0P-g"
               alt="">
        </a>
      </div>
    </div>
  </div>
</section>
